* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono", monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    min-height: 10px;
    background-color: rgba(20, 20, 20, 0);
    color: #ffffff;
}

.modules-left {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 4px 0 2px 6px;
}

.modules-center {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 4px 0 2px;
}

.modules-right {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 4px 6px 2px 0;
}

#cpu,
#memory,
#custom-gpu,
#clock,
#pulseaudio,
#mpris,
#custom-power,
#temperature,
#battery {
    padding: 0 10px;
    margin: 0 2px;
}

#custom-power {
    color: #ffffff;
    font-size: 15px;
    margin-right: 10px;
}

#mpris { min-width: 0; }
#clock { font-weight: bold; }
#temperature.critical { color: #ff5555; }
#battery.critical { color: #ff5555; }

tooltip {
    background-color: rgba(20, 20, 20, 0.4);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
}

tooltip label {
    color: #ffffff;
    font-size: 11px;
    padding: 0;
    margin: 0;
}
